@model ConstructionDiary.ViewModels.ControlEntities.ControlEntitiesIndexVM

<div class="panel panel-default" style="margin-top:50px">
    <div class="panel-heading">
        <h5>@Model.WorksheetDescription</h5>
    </div>
    <div class="panel-body">
        <table class="centered">
            <thead>
                <tr>
                    <th>Datum</th>
                    <th>Text</th>
                    <th>Dokument</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Rows)
            {
                    <tr>
                        <td>@item.Date</td>
                        <td>@item.Text</td>
                        <td>
                            <a class="btn btn-primary blue" href="/Worksheets/DownloadEntries?entryId=@item.ControleEntitiesId" download>Preuzmite</a>
                            <a class="btn btn-primary red" href="/Worksheets/DeleteControlEntity?entityId=@item.ControleEntitiesId">Obriši</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
