@{
    int taskId = (int)(ViewData["taskId"]??0);
}

<div class="container">
    <div class="form-group row">
        <label for="taskTitleInput" class="col-sm-2 col-form-label">Naziv zadatka</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="taskTitleInput">
        </div>
    </div>
    <div class="form-group row">
        <label for="taskDescriptionInput" class="col-sm-2 col-form-label">Opis zadatka</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="taskDescriptionInput">
        </div>
    </div>
</div>
<a id="saveLink" class="btn btn-primary">Spremi</a>
<h1>@taskId</h1>
<script>
    var isValid = function (text) {
        console.log(text);
        return text !== undefined && text !=='' && text !=="";
    }

    $("#saveLink").click(function myfunction() {
        var description = $("#taskDescriptionInput");
        var title = $("#taskTitleInput");
        if (!isValid(title.val())) {
            return;
        }
        if (!isValid(description.val())) {
            return;
        }
        AddTask(@taskId,title.val(), description.val());
        $.get('/WorkSheetsAjax/IndexTasks', function res(result) { $("#tasks").html(result) })
    });


    var task = FindTask(@taskId);
    console.log(task);
    if (task !== undefined) {
        var description = $("#taskDescriptionInput").val(task.description);
        var title = $("#taskTitleInput").val(task.title);
    }
    
</script>
