@{
    Layout = null;
}
<table id="tasksTable">
    <thead>
        <tr>
            <th>Naziv zadatka</th>
            <th>Opis zadatka</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody id="tasksTableBody"></tbody>
</table>
<button class="btn btn-primary" ajax-poziv='da' ajax-url='/WorkSheetsAjax/AddTask' ajax-rezultat='tasks'>Dodaj radni zadatak</button>


<script type="text/javascript">
    var toggleTable = function () {
        var tasks = GetTasks();
        if (tasks.length == 0)
            $("#tasksTable").hide();
        else
            $("#tasksTable").show();
    }

    $(document).ready(function myfunction() {
        var tasks = GetTasks();
        console.log(tasks);
        for (var i = 0; i < tasks.length; i++) {
            var title = '<td>' + tasks[i].title + '</td>';
            var description = '<td>' + tasks[i].description + '</td>';
            var actionDelete = '<button taskId ="' + tasks[i].id + '" style="margin-left:10px" class="btn btn-danger red btnDelete">Obrisi</button>';
            var actionEdit = '<button taskId ="' + tasks[i].id + '" class="btn btn-primary btnEdit">Uredi</button>';
            var row = '<tr>' + title + description + '<td>' + actionEdit + actionDelete + '</td>' + '</tr>';
            $("#tasksTableBody").append(row);
        }
        toggleTable();
    });

   
    $(".btnDelete").click(function myfunction() {
        var taskId = $(this).attr("taskId");
        DeleteTask(taskId);
        var closestRow = $(this).closest("tr");
        closestRow.remove();


    });
    $(".btnEdit").click(function myfunction() {

        var taskId = $(this).attr("taskId");
        $.get('/WorkSheetsAjax/AddTask?taskId=' + taskId, function myfunction(result) {
            $("#tasks").html(result);
        })
    });
</script>