@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/snackbar.css" />
<div class="container" style="margin-top:150px">
    Aktivni zadaci
</div>
<div id="snackbar">Promijenite vašu lozinku <a href="/UserAccounts/Profile/">PROMIJENI</a></div>
<script src="~/js/snackbar_js.js"></script>