@model ConstructionDiary.BR.UserLoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/css/login-screen.css" />
</head>
<body>
    <div class="login-page">
        <div class="form">
            <form asp-controller="Login" asp-action="Login" method="post">
                @Html.TextBoxFor(m => m.Username, new { @placeholder = "Korisničko ime" })
                @Html.PasswordFor(m => m.Password, new { @placeholder = "Lozinka" })
                <button>login</button>
                <div asp-validation-summary="All" class="text-danger"></div>

                @*<p class="message" style="color:red">@ValidationSummary</p>*@
                <a href="/home">Home</a>

            </form>
        </div>

    </div>
</body>
</html>
