@using DataLayer.Models;
@model ConstructionDiary.ViewModels.CreateConstructionSiteViewModel

@{
    var title = Model.constructionSite.Id != 0 ? "Edit" : "Create";
    ViewData["Title"] = title;
    var citiesSelectList = Model.cities.Select(c => new SelectListItem() { Text = c.Name, Value = c.Id.ToString() }).ToList();
}

<h2>@title</h2>

<h4>ConstructionSite</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="constructionSite.Id" />
            <div class="form-group">
                <label asp-for="constructionSite.Title" class="control-label"></label>
                <input asp-for="constructionSite.Title" class="form-control" />
                <span asp-validation-for="constructionSite.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="constructionSite.ProjectWorth" class="control-label"></label>
                <input asp-for="constructionSite.ProjectWorth" class="form-control" />
                <span asp-validation-for="constructionSite.ProjectWorth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="constructionSite.DateStart" class="control-label"></label>
                <input type="date" asp-for="constructionSite.DateStart" class="form-control" />
                <span asp-validation-for="constructionSite.DateStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="constructionSite.DateFinish" class="control-label"></label>
                <input type="date" asp-for="constructionSite.DateFinish" class="form-control" />
                <span asp-validation-for="constructionSite.DateFinish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="constructionSite.CityId" class="control-label"></label>
                <select asp-for="constructionSite.CityId" class="form-control" asp-items="citiesSelectList">
                    <option>Select a city</option>
                </select>
            </div>
            @*<input type="hidden" asp-for="constructionSite.Contract.Id" />*@
            @{
                if (Model.constructionSite.Id != 0)
                {
                    <input type="hidden" asp-for="constructionSite.Contract.Id" />
                    <input type="hidden" asp-for="constructionSite.Contract.Document.Id" />
                }
            }

            <div class="form-group">
                <label asp-for="constructionSite.Contract.Description" class="control-label">Contract info</label>
                <input asp-for="constructionSite.Contract.Description" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="constructionSite.Contract" class="control-label"></label>
                <input type="file" class="form-control" name="contractFile" />
            </div>
            <div class="form-group">
                <label asp-for="constructionSite.OpenStatus" class="control-label"></label>
                <select asp-for="constructionSite.OpenStatus" class="form-control" asp-items="Html.GetEnumSelectList<OpenStatus>()"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="@title" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
